.profile__name {
  margin: 0;
  justify-self: start;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
  }
}

@media screen and (max-width: 580px) {
  .profile__name {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
